.grid{
  display: grid;
  grid-row-gap: 15px;
}
.solid-border{
    border-style:solid;
    height: 175px;
    width: 800px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin: auto;

}

.rectangle-1 {
    align-items: flex-end;
    width: 40px;
    height: 100px;
    background:rgb(131, 35, 172);
    display: inline-block;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 0px;
  }

.rectangle-2 {
    align-items: flex-end;
    width: 300px;
    height: 130px;
    background: green;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
  }

.circle {
    align-items: flex-end;
    width: 130px;
    height: 130px;
    background: rgb(99, 200, 231);
    border-radius: 50%;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
  }

.dotted-border{
    border-style: dotted;
    height: 175px;
    width: 800px;
    padding-top: 20px;
    margin-bottom: 15px;
    margin: auto;
}

.rectangle-3 {
    align-self: center;
    justify-self: center;
    width: 700px;
    height: 130px;
    background: cornsilk;
    border-style:outset;
    margin: auto
  }

.backdrop-border{
    display: grid;
    border-style:outset;
    height: 200px;
    width: 400px;
    margin: auto;
}
.bottom-text{
    display: grid;
    height: 120px;
    width: 120px;
    font-size: 30px;
    /* align-self: center;
    justify-self: center; */
    margin: auto;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: rgb(23, 6, 131);
}